/* These are the universal styles for the website. */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

* h2 {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

/*This class formats the head of the page */
.head {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*This class formats the header of the page */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #f01f9c;
    color: #ffffff;
}

/* This class formats the links in the nav bar. */
nav a {
    display: inline-block;
   float: right;
    color: #ffffff;
    padding: 20px;
}

/*This class formates the background color of the body */
body {
    background-color: #d59bb4;
}

/*This class formats the main section of the page making it use flex box */
main {
    display: flex;
    
  }

 main h3 {
    color:rgb(182, 47, 125);         
    }
  
  aside {
    flex: 30%;
    background-color: rgb(182, 47, 125)f9c;
    padding: 20px;
    flex-wrap: wrap;
    border: 15px solid #f01f9c;
    border-right: 15px, dotted, #8ac4ff;
    text-align: left;
  }
  
  section {
    flex: 70%;
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    color:#f01f9c
  }

  div {
    display: inline-block;
    flex-wrap: wrap;
    margin: 20px;
    padding: 20px;
    border: 5px solid #f01f9c;
    border-radius: 20px;
  }


 
/* Tablets - navigation bar changes color */
@media screen and (max-width: 992px) {
    aside {
      background-color: #772014;
    }
  }
  
  /* Large smartphones - navbar changes color */
  @media screen and (max-width: 768px) {
    aside {
      background-color: #bb8588;
    }
  }
  
  /* Small smartphones - navigation bar change color */
  @media screen and (max-width: 576px) {
    aside {
      background-color: #8ac4ff;
    }
  }

/*This class formats all Heading 1 elements in the header as font size 48 pixels and displays it inline-block.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
    font-family:cursive;
}



/*This formats the anchor tags by defining the font color and removing the underline*/
a {
    color:rgb(182, 47, 125);
    text-decoration: none;
}

/*This class formats the paragraphs to a 16 pixel font size*/
p {
    display: inline-block;
    font-size: 16px;
}


/*This class aligns the text to the left and adds a margin to the right of 25 pixels*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*This class aligns the text to the right and adds a margin to the left of 25 pixels*/
.float-right {
    float: right;
    margin-left: 50px;
    padding: 50px;
}

/*This class creates a centering attribute for the text*/
.text-center {
    text-align: center;
  }

/*This class formats the images in the benefit-cost section by defining a display of block, a margin of 10 pixels on the top and bottom, and a maximum width of 150 pixels*/
body img {
    display: inline-block;
    margin: 10px ;
    max-width: 150px;
    text-align: center;
    border: 8px solid rgb(182, 47, 125);
    padding: 5px;  
}

/*This class formats the section h3 elements by defining the color as white*/
section h3 {
    color:#ffffff;
}

/*This class formats the section*/
section {
    width: 90%;
    margin: 20px auto;
    border-bottom: 5px solid rgb(182, 47, 125);
    background-color: rgb(211, 178, 196);
    padding: 15px;
    
  }


  /*This class changes the background color of the image when the user hovers over it*/
  img:hover{
    background-color:red;
    opacity: 0.5;
 }


 /*This class formats the form*/
form {
        margin: 10px auto;
        width: 500px;
        padding: 25px;
        border: 5px solid #f01f9c;
        border-radius: 20px;}

/*This class formats the footer section by defining a padding of 30 pixels, a font family, and aligns the text in the center*/
.footer {
    padding: 50px;
    font-size: 25px;
    background-color: #f01f9c;
    font-family: cursive;
    text-align: center;
    color:#ffffff;
}

/*This class formats the paragraph elements in the footer*/
.footer p {
    color: #ffffff;
}

/*This class formats the anchor tags in the footer*/
.footer a {
    color: #ffffff;
}
